AlwaysBreakAfterDefinitionReturnType: true
BasedOnStyle: Chromium
IndentWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
SortIncludes: false
