Source: pktj
Section: net
Priority: optional
Maintainer: Nikita Kozlov <nikita@gandi.net>
Build-Depends: debhelper (>= 9), libdpdk-dev, dpdk-dev
Standards-Version: 3.9.6
Homepage: http://dpdk.org/

Package: pktj
Architecture: any
Depends: ${misc:Depends}, libdpdk-libethdev3, libdpdk-librte-acl2, libdpdk-librte-cfgfile2, libdpdk-librte-cmdline2, libdpdk-librte-lpm2,libdpdk-librte-pmd-i40e1, libdpdk-librte-pmd-ixgbe1
Description: Packet-journey
 Packet-journey is doing packet processing using the Data Plane Development Kit (DPDK).

Package: pktj-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    pktj (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for pktj
 This package contains the debugging symbols for pktj
