Source: pktj
Section: net
Priority: optional
Maintainer: Nikita Kozlov <nikita@gandi.net>
Build-Depends: debhelper (>= 9), libdpdk-dev, dpdk-dev, libxenstore3.0, libxen-dev
Standards-Version: 3.9.6
Homepage: http://dpdk.org/

Package: pktj
Architecture: any
Depends: ${misc:Depends}, librte-ethdev18.02, librte-acl18.02, librte-cfgfile18.02, librte-cmdline18.02, librte-lpm18.02, librte-pmd-i40e18.02, librte-pmd-ixgbe18.02
Description: Packet-journey
 Packet-journey is doing packet processing using the Data Plane Development Kit (DPDK).

Package: pktj-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    pktj (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for pktj
 This package contains the debugging symbols for pktj
