#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
# DH_VERBOSE=1

export DH_OPTIONS

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
DPDK_TARGET=x86_64-native-linuxapp-gcc

include /usr/share/dpkg/default.mk

# main packaging script based on dh7 syntax
%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build: dh_auto_build/rdpdk-westmere dh_auto_build/rdpdk-ivybridge dh_auto_build/rdpdk-sandybridge

.PHONY: dh_auto_build/rdpdk-westmere
dh_auto_build/rdpdk-westmere:
	RTE_SDK=/usr/share/dpdk-westmere/ RTE_TARGET=x86_64-native-linuxapp-gcc-westmere make O='$$(RTE_SRCDIR)/build-westmere' EXTRA_LDLIBS='--rpath=/usr/lib/dpdk-westmere'

.PHONY: dh_auto_build/rdpdk-ivybridge
dh_auto_build/rdpdk-ivybridge:
	RTE_SDK=/usr/share/dpdk-ivybridge/ RTE_TARGET=x86_64-native-linuxapp-gcc-ivybridge make O='$$(RTE_SRCDIR)/build-ivybridge' EXTRA_LDLIBS='--rpath=/usr/lib/dpdk-ivybridge'

.PHONY: dh_auto_build/rdpdk-sandybridge
dh_auto_build/rdpdk-sandybridge:
	RTE_SDK=/usr/share/dpdk-sandybridge/ RTE_TARGET=x86_64-native-linuxapp-gcc-sandybridge make O='$$(RTE_SRCDIR)/build-sandybridge' EXTRA_LDLIBS='--rpath=/usr/lib/dpdk-sandybridge'

override_dh_auto_test:
override_dh_auto_clean:
	rm -rf $(CURDIR)/build-*

override_dh_auto_install: dh_auto_install/rdpdk-westmere dh_auto_install/rdpdk-sandybridge dh_auto_install/rdpdk-ivybridge

.PHONY: dh_auto_install/rdpdk-westmere
dh_auto_install/rdpdk-westmere:
	mkdir -p $(CURDIR)/debian/rdpdk-westmere/usr/sbin
	mkdir -p $(CURDIR)/debian/rdpdk-westmere/usr/lib
	mv $(CURDIR)/build-westmere/app/x86_64-native-linuxapp-gcc-westmere/rdpdk $(CURDIR)/debian/rdpdk-westmere/usr/sbin/
	mv $(CURDIR)/build-westmere/lib/libnetlink/x86_64-native-linuxapp-gcc-westmere/lib/* $(CURDIR)/debian/rdpdk-westmere/usr/lib
	mv $(CURDIR)/build-westmere/lib/libneighbour/x86_64-native-linuxapp-gcc-westmere/lib/* $(CURDIR)/debian/rdpdk-westmere/usr/lib

.PHONY: dh_auto_install/rdpdk-sandybridge
dh_auto_install/rdpdk-sandybridge:
	mkdir -p $(CURDIR)/debian/rdpdk-sandybridge/usr/sbin
	mkdir -p $(CURDIR)/debian/rdpdk-sandybridge/usr/lib
	mv $(CURDIR)/build-sandybridge/app/x86_64-native-linuxapp-gcc-sandybridge/rdpdk $(CURDIR)/debian/rdpdk-sandybridge/usr/sbin/
	mv $(CURDIR)/build-sandybridge/lib/libnetlink/x86_64-native-linuxapp-gcc-sandybridge/lib/* $(CURDIR)/debian/rdpdk-sandybridge/usr/lib
	mv $(CURDIR)/build-sandybridge/lib/libneighbour/x86_64-native-linuxapp-gcc-sandybridge/lib/* $(CURDIR)/debian/rdpdk-sandybridge/usr/lib

.PHONY: dh_auto_install/rdpdk-ivybridge
dh_auto_install/rdpdk-ivybridge:
	mkdir -p $(CURDIR)/debian/rdpdk-ivybridge/usr/sbin
	mkdir -p $(CURDIR)/debian/rdpdk-ivybridge/usr/lib
	mv $(CURDIR)/build-ivybridge/app/x86_64-native-linuxapp-gcc-ivybridge/rdpdk $(CURDIR)/debian/rdpdk-ivybridge/usr/sbin/
	mv $(CURDIR)/build-ivybridge/lib/libnetlink/x86_64-native-linuxapp-gcc-ivybridge/lib/* $(CURDIR)/debian/rdpdk-ivybridge/usr/lib
	mv $(CURDIR)/build-ivybridge/lib/libneighbour/x86_64-native-linuxapp-gcc-ivybridge/lib/* $(CURDIR)/debian/rdpdk-ivybridge/usr/lib

override_dh_shlibdeps:

override_dh_installinit:
	dh_installinit --no-start --name=rdpdk

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip -p "rdpdk-westmere" --dbg-package=rdpdk-westmere-dbg
	dh_strip -p "rdpdk-sandybridge" --dbg-package=rdpdk-sandybridge-dbg
	dh_strip -p "rdpdk-ivybridge" --dbg-package=rdpdk-ivybridge-dbg
